openapi: 3.0.3
info:
  title: Datpaq ProAPI
  description: >-
    Multi-service API platform covering the live Datpaq catalog: geocoding, EV charging, weather, aviation, holidays,
    QR/PDF generation, enrichment, and utilities. All endpoints require authentication via API key passed as an
    x-api-key header or api_key query parameter.
  version: 1.0.2
  contact:
    name: Datpaq Support
    url: https://datpaq.com
  license:
    name: Proprietary
servers:
  - url: https://datpaq.com/api/v1
    description: Production
  - url: https://staging.datpaq.com/api/v1
    description: Staging
security:
  - ApiKeyHeader: []
  - ApiKeyQuery: []
tags:
  - name: Aircraft
    description: FAA aircraft registration lookup by tail, ICAO hex, and type code
  - name: Calendar
    description: Month, day, and range calendars with optional public-holiday overlays
  - name: Convert Time
    description: Timezone-aware datetime conversion
  - name: Country Codes
    description: ISO 3166-1 country lookup, search, fuzzy match, and export
  - name: Current Time
    description: Current time by IANA timezone identifier
  - name: Dictionary
    description: English word definitions, phonetics, and fuzzy suggestions
  - name: DNS Lookup
    description: Forward and reverse DNS resolution for domains and IP addresses
  - name: Domain Lookup
    description: Domain TLD classification, regional metadata, and DNS presence checks
  - name: EV Charger
    description: EV charging station search, station detail, and network/plug/level reference data
  - name: Exchange Rates and Currency
    description: Single and bulk currency conversion with live exchange rates
  - name: Geocoding
    description: Forward, reverse, and batch geocoding via OpenStreetMap Nominatim
  - name: Helicopter
    description: FAA rotorcraft lookup by tail, ICAO hex, serial, manufacturer, and model
  - name: Image Processing
    description: Image resize, compress, convert, crop, and pipeline operations
  - name: IP Geolocation
    description: Geographic location data for IPv4 and IPv6 addresses
  - name: IP Intelligence
    description: Threat intelligence and risk scoring for IP addresses
  - name: MAC Address
    description: MAC address vendor identification from IEEE OUI registry data
  - name: MX Lookup
    description: Mail exchange record lookup with optional SPF and SMTP checks
  - name: PDF Generation
    description: SSRF-safe PDF rendering from a public URL or sanitized HTML
  - name: Profanity
    description: Content moderation and profanity detection
  - name: Public Holidays
    description: Public holiday lookup for 200+ countries with JSON or CSV output
  - name: QR Code
    description: QR code generation (PNG/SVG) and decode from a base64 image
  - name: Sample Data
    description: Mock data generation for testing and development (Faker.js)
  - name: Spell Check
    description: Multilingual spelling correction with optional grammar hints
  - name: Text Language
    description: Language detection with ISO codes and confidence scores
  - name: Thesaurus
    description: Synonyms, antonyms, and related terms from WordNet
  - name: Unit Conversion
    description: Unit conversion across 100+ measurement types
  - name: US States
    description: US state list, abbreviation, FIPS, and batch abbreviation lookup
  - name: User Avatar
    description: Dynamic user avatar generation in PNG, WebP, or SVG
  - name: Validate IP
    description: IP address validation and classification (IPv4, IPv6, CIDR)
  - name: VIN Lookup
    description: NHTSA VIN decode, makes list, and prefix suggestions
  - name: Weather
    description: Normalized current conditions and forecast by latitude and longitude
  - name: Web Scraping
    description: Headless scrape, batch, crawl, and site-map extraction
  - name: Web Screenshot
    description: Web page screenshot capture via headless browser
  - name: WHOIS
    description: Domain WHOIS registration data lookup
  - name: Working Days
    description: Business day calculations with regional holiday support
paths:
  /convert-time:
    get:
      tags:
        - Convert Time
      operationId: convertTime
      summary: Convert a datetime between timezones
      description: >
        Converts a datetime value from a source timezone to a target timezone. Accepts ISO 8601 strings, Unix epoch
        timestamps, or omit sourceTime to convert the current time.
      parameters:
        - name: sourceTime
          in: query
          required: false
          description: Time to convert (ISO 8601 or Unix ms). Defaults to current time.
          schema:
            type: string
            example: "2025-12-31T12:00:00Z"
        - name: sourceZone
          in: query
          required: true
          description: Source IANA timezone identifier
          schema:
            type: string
            example: America/New_York
        - name: targetZone
          in: query
          required: true
          description: Target IANA timezone identifier
          schema:
            type: string
            example: Europe/London
      responses:
        "200":
          description: Converted datetime with timezone metadata
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericSuccess"
              example:
                success: true
                data:
                  base_location:
                    datetime: "2026-07-02 09:30:00"
                    timezone_name: EDT
                    timezone_location: America/New_York
                    gmt_offset: -4
                    is_dst: true
                    latitude: 40.7128
                    longitude: -74.006
                  target_location:
                    datetime: "2026-07-02 14:30:00"
                    timezone_name: BST
                    timezone_location: Europe/London
                    gmt_offset: 1
                    is_dst: true
                    latitude: 51.5074
                    longitude: -0.1278
                meta:
                  correlationId: abc123-def456
                  timestamp: "2026-07-02T13:30:00.000Z"
                  processingTime: 18ms
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimited"
        default:
          $ref: "#/components/responses/ServiceUnavailable"
  /current-time:
    get:
      tags:
        - Current Time
      operationId: currentTime
      summary: Get current time for an IANA timezone
      description: Returns the current date/time with UTC offset and DST status for a given timezone.
      parameters:
        - name: target
          in: query
          required: true
          description: IANA timezone identifier (e.g. America/New_York, UTC, Asia/Tokyo)
          schema:
            type: string
            example: America/New_York
      responses:
        "200":
          description: Current time data
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericSuccess"
              example:
                success: true
                data:
                  datetime: "2026-07-02T09:30:00-04:00"
                  timezone_name: EDT
                  timezone_location: America/New_York
                  gmt_offset: -4
                  is_dst: true
                  latitude: 40.7128
                  longitude: -74.006
                meta:
                  correlationId: ghi789-jkl012
                  timestamp: "2026-07-02T13:30:00.000Z"
                  processingTime: 9ms
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimited"
        default:
          $ref: "#/components/responses/ServiceUnavailable"
  /image-processing/process:
    post:
      tags:
        - Image Processing
      operationId: imagePipeline
      summary: Run an image through a multi-step operation pipeline
      description: >
        Executes an ordered array of image operations in a single request. Recommended over individual endpoints when
        multiple operations are needed. Supports resize, compress, convert, crop, and metadata.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - image_url
                - operations
              properties:
                image_url:
                  type: string
                  format: uri
                  example: https://example.com/photo.jpg
                operations:
                  type: array
                  items:
                    type: object
                    required:
                      - operation
                    properties:
                      operation:
                        type: string
                        enum:
                          - resize
                          - compress
                          - convert
                          - crop
                          - metadata
                      width:
                        type: integer
                        minimum: 1
                      height:
                        type: integer
                        minimum: 1
                      quality:
                        type: integer
                        minimum: 1
                        maximum: 100
                      format:
                        type: string
                        enum:
                          - jpeg
                          - png
                          - webp
                          - avif
            example:
              image_url: https://example.com/photo.jpg
              operations:
                - type: resize
                  width: 800
                - type: convert
                  format: webp
      responses:
        "200":
          description: Processed image binary or JSON metadata
          content:
            image/png:
              schema:
                type: string
                format: binary
            image/webp:
              schema:
                type: string
                format: binary
            image/jpeg:
              schema:
                type: string
                format: binary
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimited"
        default:
          $ref: "#/components/responses/ServiceUnavailable"
  /image-processing/resize:
    post:
      tags:
        - Image Processing
      operationId: imageResize
      summary: Resize an image to specified dimensions
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - image_url
              properties:
                image_url:
                  type: string
                  format: uri
                width:
                  type: integer
                  example: 800
                height:
                  type: integer
                  example: 600
                fit:
                  type: string
                  enum:
                    - cover
                    - contain
                    - fill
                    - inside
                    - outside
                  default: cover
            example:
              image_url: https://example.com/photo.jpg
              width: 800
              height: 600
              fit: cover
      responses:
        "200":
          description: Resized image binary
          content:
            image/png:
              schema:
                type: string
                format: binary
            image/webp:
              schema:
                type: string
                format: binary
            image/jpeg:
              schema:
                type: string
                format: binary
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimited"
        default:
          $ref: "#/components/responses/ServiceUnavailable"
  /image-processing/compress:
    post:
      tags:
        - Image Processing
      operationId: imageCompress
      summary: Compress an image
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - image_url
              properties:
                image_url:
                  type: string
                  format: uri
                quality:
                  type: integer
                  minimum: 1
                  maximum: 100
                  example: 75
            example:
              image_url: https://example.com/photo.jpg
              quality: 80
      responses:
        "200":
          description: Compressed image binary
          content:
            image/png:
              schema:
                type: string
                format: binary
            image/webp:
              schema:
                type: string
                format: binary
            image/jpeg:
              schema:
                type: string
                format: binary
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimited"
        default:
          $ref: "#/components/responses/ServiceUnavailable"
  /image-processing/convert:
    post:
      tags:
        - Image Processing
      operationId: imageConvert
      summary: Convert image to a different format
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - image_url
                - format
              properties:
                image_url:
                  type: string
                  format: uri
                format:
                  type: string
                  enum:
                    - jpeg
                    - png
                    - webp
                    - avif
                  example: webp
            example:
              image_url: https://example.com/photo.jpg
              format: webp
      responses:
        "200":
          description: Converted image binary
          content:
            image/png:
              schema:
                type: string
                format: binary
            image/webp:
              schema:
                type: string
                format: binary
            image/jpeg:
              schema:
                type: string
                format: binary
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimited"
        default:
          $ref: "#/components/responses/ServiceUnavailable"
  /image-processing/crop:
    post:
      tags:
        - Image Processing
      operationId: imageCrop
      summary: Crop an image to a region
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - image_url
                - x
                - "y"
                - width
                - height
              properties:
                image_url:
                  type: string
                  format: uri
                x:
                  type: integer
                  minimum: 0
                "y":
                  type: integer
                  minimum: 0
                width:
                  type: integer
                  minimum: 1
                height:
                  type: integer
                  minimum: 1
            example:
              image_url: https://example.com/photo.jpg
              left: 0
              top: 0
              width: 400
              height: 400
      responses:
        "200":
          description: Cropped image binary
          content:
            image/png:
              schema:
                type: string
                format: binary
            image/webp:
              schema:
                type: string
                format: binary
            image/jpeg:
              schema:
                type: string
                format: binary
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimited"
        default:
          $ref: "#/components/responses/ServiceUnavailable"
  /image-processing/metadata:
    post:
      tags:
        - Image Processing
      operationId: imageMetadata
      summary: Extract metadata from an image
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - image_url
              properties:
                image_url:
                  type: string
                  format: uri
            example:
              image_url: https://example.com/photo.jpg
      responses:
        "200":
          description: Image metadata (dimensions, format, EXIF, color profile)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericSuccess"
              example:
                success: true
                format: jpeg
                width: 1920
                height: 1080
                size: 245760
                colorSpace: srgb
                hasAlpha: false
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimited"
        default:
          $ref: "#/components/responses/ServiceUnavailable"
  /ip-geolocation:
    get:
      tags:
        - IP Geolocation
      operationId: ipGeolocationGet
      summary: Get geographic location for an IP address
      description: |
        Returns country, region, city, coordinates, ISP, ASN, and timezone for any IPv4 or IPv6 address.
      parameters:
        - name: ip
          in: query
          required: true
          schema:
            type: string
            example: 8.8.8.8
      responses:
        "200":
          description: Geolocation data
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericSuccess"
              example:
                ip: 8.8.8.8
                location:
                  country: United States
                  region: California
                  city: Mountain View
                  latitude: 37.386
                  longitude: -122.0838
                network:
                  network: 8.8.8.0/24
                  asn: 15169
                  org: Google LLC
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimited"
        default:
          $ref: "#/components/responses/ServiceUnavailable"
    post:
      tags:
        - IP Geolocation
      operationId: ipGeolocationPost
      summary: Get geographic location for an IP address (POST)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - ip
              properties:
                ip:
                  type: string
                  example: 8.8.8.8
            example:
              ip: 8.8.8.8
      responses:
        "200":
          description: Geolocation data
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericSuccess"
              example:
                ip: 8.8.8.8
                location:
                  country: United States
                  region: California
                  city: Mountain View
                  latitude: 37.386
                  longitude: -122.0838
                network:
                  network: 8.8.8.0/24
                  asn: 15169
                  org: Google LLC
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimited"
        default:
          $ref: "#/components/responses/ServiceUnavailable"
  /ip-geolocation/batch:
    post:
      tags:
        - IP Geolocation
      operationId: ipGeolocationBatch
      summary: Batch IP geolocation lookup
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - ips
              properties:
                ips:
                  type: array
                  items:
                    type: string
                  maxItems: 100
                  example:
                    - 8.8.8.8
                    - 1.1.1.1
            example:
              ips:
                - 8.8.8.8
                - 1.1.1.1
                - 208.67.222.222
              include_logs: false
      responses:
        "200":
          description: Geolocation data for each IP
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericSuccess"
              example:
                summary:
                  total_requested: 3
                  valid_ips: 3
                  invalid_ips: 0
                  found: 2
                  not_found: 1
                  errors: 0
                  processing_time_ms: 45
                results:
                  - ip: 8.8.8.8
                    found: true
                    location:
                      country: United States
                      region: California
                      city: Mountain View
                      latitude: 37.386
                      longitude: -122.0838
                    network:
                      network: 8.8.8.0/24
                      asn: AS15169
                      org: Google LLC
                  - ip: 1.1.1.1
                    found: true
                    location:
                      country: Australia
                      region: New South Wales
                      city: Sydney
                      latitude: -33.8688
                      longitude: 151.2093
                    network:
                      network: 1.1.1.0/24
                      asn: AS13335
                      org: Cloudflare, Inc.
                  - ip: 208.67.222.222
                    found: false
                    error: IP not found in geolocation database
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimited"
        default:
          $ref: "#/components/responses/ServiceUnavailable"
  /ip-intelligence:
    get:
      tags:
        - IP Intelligence
      operationId: ipIntelligenceGet
      summary: Get threat intelligence for an IP address
      description: >
        Returns trust score, risk classification, VPN/proxy/Tor detection, datacenter detection, and threat categories.
        Omit the ip parameter to analyze the caller's IP.
      parameters:
        - name: ip
          in: query
          required: false
          description: IP to analyze. Omits to use the caller's IP.
          schema:
            type: string
            example: 8.8.8.8
      responses:
        "200":
          description: IP threat intelligence data
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericSuccess"
              example:
                ip: 203.0.113.45
                id: 1
                network: 203.0.113.0/24
                description: Example Block
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimited"
        default:
          $ref: "#/components/responses/ServiceUnavailable"
  /ip-intelligence/batch:
    post:
      tags:
        - IP Intelligence
      operationId: ipIntelligenceBatch
      summary: Batch IP threat intelligence lookup
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - ips
              properties:
                ips:
                  type: array
                  items:
                    type: string
                  maxItems: 100
                  example:
                    - 8.8.8.8
                    - 1.1.1.1
            example:
              ips:
                - 8.8.8.8
                - 1.1.1.1
                - 208.67.222.222
      responses:
        "200":
          description: Threat intelligence for each IP
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericSuccess"
              example:
                summary:
                  total_requested: 3
                  valid_ips: 3
                  invalid_ips: 0
                  found: 2
                  not_found: 1
                  errors: 0
                  processing_time_ms: 42
                results:
                  - ip: 8.8.8.8
                    found: true
                    data:
                      network: 8.8.8.0/24
                      country: United States
                      region: California
                      city: Mountain View
                      asn: AS15169
                      org: Google LLC
                  - ip: 1.1.1.1
                    found: true
                    data:
                      network: 1.1.1.0/24
                      country: Australia
                      region: New South Wales
                      city: Sydney
                      asn: AS13335
                      org: Cloudflare, Inc.
                  - ip: 208.67.222.222
                    found: false
                    error: IP not found in intelligence database
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimited"
        default:
          $ref: "#/components/responses/ServiceUnavailable"
  /profanity/filter:
    get:
      tags:
        - Profanity
      operationId: profanityFilter
      summary: Filter profanity from text
      description: Replaces profane words with asterisks. Returns cleaned text.
      parameters:
        - name: text
          in: query
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Filtered text
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericSuccess"
              example:
                success: true
                original: what a damn mess
                filtered: what a **** mess
                matches: 1
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimited"
        default:
          $ref: "#/components/responses/ServiceUnavailable"
  /profanity/detect:
    get:
      tags:
        - Profanity
      operationId: profanityDetect
      summary: Detect whether text contains profanity
      parameters:
        - name: text
          in: query
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Detection result (contains, word count)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericSuccess"
              example:
                success: true
                text: what a damn mess
                hasProfanity: true
                severity: mild
                matchCount: 1
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimited"
        default:
          $ref: "#/components/responses/ServiceUnavailable"
  /profanity/analyze:
    get:
      tags:
        - Profanity
      operationId: profanityAnalyze
      summary: Comprehensive profanity analysis with severity and word positions
      parameters:
        - name: text
          in: query
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Detailed analysis with severity score, word positions, and categories
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericSuccess"
              example:
                success: true
                text: what a damn mess
                hasProfanity: true
                severity: mild
                score: 0.32
                matches:
                  - word: damn
                    category: profanity
                    severity: mild
                    start: 7
                    end: 11
                summary:
                  totalMatches: 1
                  categories:
                    - profanity
                  profanityDetected: 1
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimited"
        default:
          $ref: "#/components/responses/ServiceUnavailable"
  /sample-data/batch:
    get:
      tags:
        - Sample Data
      operationId: sampleDataBatchGet
      summary: Generate multiple types of sample data (GET)
      description: >
        Generates mock data using Faker.js. Supports 20+ schema types including user, person, address, company, product,
        and more. Use the requests parameter as a JSON-encoded array.
      parameters:
        - name: requests
          in: query
          required: true
          description: JSON-encoded array of generation requests [{type, count, fields?}]
          schema:
            type: string
            example: "[{\"type\":\"user\",\"count\":5}]"
      responses:
        "200":
          description: Generated data records
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericSuccess"
              example:
                success: true
                results:
                  - type: user
                    count: 3
                    data:
                      - name: Ada Lovelace
                        email: ada@example.com
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimited"
        default:
          $ref: "#/components/responses/ServiceUnavailable"
    post:
      tags:
        - Sample Data
      operationId: sampleDataBatchPost
      summary: Generate multiple types of sample data (POST)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - requests
              properties:
                requests:
                  type: array
                  items:
                    type: object
                    required:
                      - type
                      - count
                    properties:
                      type:
                        type: string
                        description: Schema type (user, person, address, company, product, etc.)
                        example: user
                      count:
                        type: integer
                        minimum: 1
                        maximum: 1000
                        example: 10
                      fields:
                        type: array
                        items:
                          type: string
                        description: Specific fields to include. Returns all fields if omitted.
            example:
              requests:
                - type: user
                  count: 10
                - type: company
                  count: 5
      responses:
        "200":
          description: Generated data records
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericSuccess"
              example:
                success: true
                results:
                  - type: user
                    count: 10
                    data:
                      - name: Ada Lovelace
                        email: ada@example.com
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimited"
        default:
          $ref: "#/components/responses/ServiceUnavailable"
  /unit-conversion/convert:
    get:
      tags:
        - Unit Conversion
      operationId: unitConvertGet
      summary: Convert a value between units
      description: >
        Supports 100+ unit types across length, weight, temperature, volume, area, speed, digital storage, and time.
        Converts value from source unit to target unit.
      parameters:
        - name: from
          in: query
          required: true
          description: Source unit identifier (e.g. kg, lb, m, degC, km/h)
          schema:
            type: string
            example: kg
        - name: to
          in: query
          required: true
          description: Target unit identifier
          schema:
            type: string
            example: lb
        - name: value
          in: query
          required: true
          schema:
            type: number
            example: 10
        - name: precision
          in: query
          required: false
          description: Decimal places in result (0-15)
          schema:
            type: integer
            minimum: 0
            maximum: 15
            default: 4
      responses:
        "200":
          description: Conversion result
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericSuccess"
              example:
                from: cm
                to: in
                value: 100
                result: 39.37
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimited"
        default:
          $ref: "#/components/responses/ServiceUnavailable"
    post:
      tags:
        - Unit Conversion
      operationId: unitConvertPost
      summary: Convert a value between units (POST)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - from
                - to
                - value
              properties:
                from:
                  type: string
                  example: kg
                to:
                  type: string
                  example: lb
                value:
                  type: number
                  example: 10
                precision:
                  type: integer
                  minimum: 0
                  maximum: 15
            example:
              value: 100
              from: meters
              to: feet
              precision: 2
      responses:
        "200":
          description: Conversion result
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericSuccess"
              example:
                from: cm
                to: in
                value: 100
                result: 39.37
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimited"
        default:
          $ref: "#/components/responses/ServiceUnavailable"
  /unit-conversion/categories:
    get:
      tags:
        - Unit Conversion
      operationId: unitCategories
      summary: List available measurement categories
      responses:
        "200":
          description: Category list
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericSuccess"
              example:
                success: true
                categories:
                  - length
                  - mass
                  - temperature
                  - area
                  - volume
                  - speed
                  - time
                  - data
                count: 8
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimited"
        default:
          $ref: "#/components/responses/ServiceUnavailable"
  /unit-conversion/units/{category}:
    get:
      tags:
        - Unit Conversion
      operationId: unitsByCategory
      summary: List units available in a category
      parameters:
        - name: category
          in: path
          required: true
          description: Measurement category (e.g. length, weight, temperature)
          schema:
            type: string
            example: length
      responses:
        "200":
          description: Unit list for the category
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericSuccess"
              example:
                success: true
                category: length
                units:
                  - meters
                  - feet
                  - miles
                  - kilometers
                  - inches
                  - centimeters
                  - yards
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/RateLimited"
        default:
          $ref: "#/components/responses/ServiceUnavailable"
  /user-avatar:
    get:
      tags:
        - User Avatar
      operationId: userAvatarGenerate
      summary: Generate a customizable user avatar image
      description: >
        Creates avatar images using Canvas (PNG/WebP) or native SVG. Supports initials-based avatars, custom colors,
        external image integration, and uploaded icons.
      parameters:
        - name: name
          in: query
          required: false
          description: Display name to generate initials from
          schema:
            type: string
            example: John Doe
        - name: format
          in: query
          required: false
          schema:
            type: string
            enum:
              - png
              - webp
              - svg
            default: png
        - name: size
          in: query
          required: false
          description: Avatar size in pixels (16–512)
          schema:
            type: integer
            minimum: 16
            maximum: 512
            default: 128
        - name: background
          in: query
          required: false
          description: Background color hex without
          schema:
            type: string
            pattern: ^[0-9A-Fa-f]{6}$
            example: 4A90D9
        - name: color
          in: query
          required: false
          description: Text/icon color hex without
          schema:
            type: string
            pattern: ^[0-9A-Fa-f]{6}$
            example: FFFFFF
        - name: rounded
          in: query
          required: false
          description: Output a circular avatar
          schema:
            type: boolean
            default: false
      responses:
        "200":
          description: Avatar image binary or SVG markup
          content:
            image/png:
              schema:
                type: string
                format: binary
            image/webp:
              schema:
                type: string
                format: binary
            image/svg+xml:
              schema:
                type: string
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimited"
        default:
          $ref: "#/components/responses/ServiceUnavailable"
  /user-avatar/upload-icon:
    post:
      tags:
        - User Avatar
      operationId: userAvatarUploadIcon
      summary: Upload a custom icon for avatar generation
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - file
              properties:
                file:
                  type: string
                  format: binary
                  description: Icon image file (PNG, SVG, or WebP, max 1MB)
      responses:
        "200":
          description: Upload confirmation with icon ID
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericSuccess"
              example:
                success: true
                url: https://datpaq.com/avatars/abc123.png
                id: abc123
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimited"
        default:
          $ref: "#/components/responses/ServiceUnavailable"
  /validate-ip/validate:
    get:
      tags:
        - Validate IP
      operationId: validateIpGet
      summary: Validate and classify IP addresses
      description: >
        Validates IPv4, IPv6, or CIDR notation and returns classification flags: private, reserved, loopback, multicast,
        link-local, bogon, and public. Supports comma-separated batch input (max 100).
      parameters:
        - name: ip
          in: query
          required: true
          description: Single IP, CIDR notation, or comma-separated list (max 100)
          schema:
            type: string
            example: 8.8.8.8
      responses:
        "200":
          description: Validation and classification results
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericSuccess"
              example:
                ip: 192.168.1.1
                valid: true
                type: IPv4
                private: true
                message: Valid IPv4 address (private)
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimited"
        default:
          $ref: "#/components/responses/ServiceUnavailable"
    post:
      tags:
        - Validate IP
      operationId: validateIpPost
      summary: Validate and classify IP addresses (POST)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - ip
              properties:
                ip:
                  description: Single IP string or array of IPs
                  oneOf:
                    - type: string
                      example: 8.8.8.8
                    - type: array
                      items:
                        type: string
                      maxItems: 100
            example:
              ips:
                - 8.8.8.8
                - 192.168.1.1
                - 127.0.0.1
                - bad.ip
      responses:
        "200":
          description: Validation results
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericSuccess"
              example:
                - ip: 8.8.8.8
                  valid: true
                - ip: 127.0.0.1
                  valid: true
                - ip: bad.ip
                  valid: false
                  error: Invalid IP address
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimited"
        default:
          $ref: "#/components/responses/ServiceUnavailable"
  /web-screenshot:
    get:
      tags:
        - Web Screenshot
      operationId: webScreenshot
      summary: Capture a screenshot of a web page
      description: >
        Renders a web page via Puppeteer headless browser and returns a screenshot. Supports viewport simulation, format
        selection, quality control, and crop.
      parameters:
        - name: url
          in: query
          required: true
          description: Target URL including http/https scheme
          schema:
            type: string
            format: uri
            example: https://example.com
        - name: width
          in: query
          required: false
          description: Viewport width in pixels (100–3840, default 1280)
          schema:
            type: integer
            minimum: 100
            maximum: 3840
            default: 1280
        - name: height
          in: query
          required: false
          description: Viewport height in pixels (100–2160, default 800)
          schema:
            type: integer
            minimum: 100
            maximum: 2160
            default: 800
        - name: format
          in: query
          required: false
          schema:
            type: string
            enum:
              - jpeg
              - png
              - webp
            default: jpeg
        - name: quality
          in: query
          required: false
          description: Image quality (10–100, default 100; ignored for PNG)
          schema:
            type: integer
            minimum: 10
            maximum: 100
            default: 100
        - name: crop
          in: query
          required: false
          description: Crop dimensions as WIDTHxHEIGHT (e.g. 800x600)
          schema:
            type: string
            example: 800x600
      responses:
        "200":
          description: Screenshot image binary
          content:
            image/png:
              schema:
                type: string
                format: binary
            image/webp:
              schema:
                type: string
                format: binary
            image/jpeg:
              schema:
                type: string
                format: binary
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimited"
        default:
          $ref: "#/components/responses/ServiceUnavailable"
  /whois/lookup:
    post:
      tags:
        - WHOIS
      operationId: whoisLookup
      summary: Perform WHOIS lookup for one or multiple domains
      description: >
        Returns registrar, registration date, expiration date, name servers, and raw WHOIS data. Supports single domain
        or batch array (max 50).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - domain
              properties:
                domain:
                  description: Single domain string or array (max 50)
                  oneOf:
                    - type: string
                      example: example.com
                    - type: array
                      items:
                        type: string
                      maxItems: 50
            example:
              domain: openai.com
      responses:
        "200":
          description: WHOIS registration data
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericSuccess"
              example:
                fromCache: true
                domain: openai.com
                tld: com
                registrar: MarkMonitor Inc.
                creationDate: "2015-04-15T00:00:00Z"
                expirationDate: "2026-04-15T00:00:00Z"
                nameServers:
                  - ns1.openai.com
                  - ns2.openai.com
                registrantRedacted: true
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimited"
        default:
          $ref: "#/components/responses/ServiceUnavailable"
  /working-days/calculate:
    post:
      tags:
        - Working Days
      operationId: workingDaysCalculatePost
      summary: Calculate working days between dates or offset business days
      description: >
        For range calculations: provide start_date and end_date to get the number of working days between them. For
        offset calculations: provide start_date and days_offset to find the resulting business date. Supports US, DE,
        and IN regional holiday calendars.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - start_date
              properties:
                start_date:
                  type: string
                  format: date
                  example: "2026-01-01"
                end_date:
                  type: string
                  format: date
                  example: "2026-01-31"
                days_offset:
                  type: integer
                  description: Working days to add (positive) or subtract (negative)
                  example: 10
                direction:
                  type: string
                  enum:
                    - forward
                    - backward
                  default: forward
                region:
                  type: string
                  description: Regional holiday calendar
                  enum:
                    - US
                    - DE
                    - IN
                  default: US
            example:
              start_date: "2026-07-01"
              end_date: "2026-07-15"
              region: US
      responses:
        "200":
          description: Working day calculation result
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericSuccess"
              example:
                working_days: 7
                start_date: "2025-07-01"
                end_date: "2025-07-10"
                region: US
                holidays_used:
                  - "2025-07-04"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimited"
        default:
          $ref: "#/components/responses/ServiceUnavailable"
    get:
      tags:
        - Working Days
      operationId: workingDaysCalculateGet
      summary: Calculate working days (GET)
      parameters:
        - name: start_date
          in: query
          required: true
          schema:
            type: string
            format: date
            example: "2026-01-01"
        - name: end_date
          in: query
          required: false
          schema:
            type: string
            format: date
        - name: days_offset
          in: query
          required: false
          schema:
            type: integer
        - name: region
          in: query
          required: false
          schema:
            type: string
            enum:
              - US
              - DE
              - IN
            default: US
      responses:
        "200":
          description: Working day calculation result
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericSuccess"
              example:
                working_days: 7
                start_date: "2025-07-01"
                end_date: "2025-07-10"
                region: US
                holidays_used:
                  - "2025-07-04"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimited"
        default:
          $ref: "#/components/responses/ServiceUnavailable"
  /working-days/calculate/batch:
    get:
      tags:
        - Working Days
      operationId: workingDaysBatch
      summary: Batch working day calculations
      parameters:
        - name: requests
          in: query
          required: true
          description: JSON-encoded array of calculation requests
          schema:
            type: string
            example: "[{\"start_date\":\"2026-01-01\",\"end_date\":\"2026-01-31\"}]"
      responses:
        "200":
          description: Batch calculation results
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericSuccess"
              example:
                - working_days: 7
                  start_date: "2025-07-01"
                  end_date: "2025-07-10"
                  region: US
                - working_days: 5
                  start_date: "2025-08-01"
                  end_date: "2025-08-08"
                  region: US
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimited"
        default:
          $ref: "#/components/responses/ServiceUnavailable"
  /sample-data/generate:
    post:
      tags:
        - Sample Data
      operationId: sampleDataGeneratePost
      summary: Generate sample data
      description: >-
        Generate realistic mock data using a JSON request body. Recommended for full control over type, count, fields,
        and format.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - type
              properties:
                type:
                  type: string
                  description: Schema type to generate, such as user, company, product, or transaction.
                count:
                  type: integer
                  minimum: 1
                  maximum: 10000
                  default: 1
                fields:
                  type: array
                  items:
                    type: string
                  description: Optional field names to include.
                format:
                  type: string
                  enum:
                    - json
                    - csv
                  default: json
            example:
              type: user
              count: 5
              fields:
                - name
                - email
                - phone
      responses:
        "200":
          description: Generated sample data records
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericSuccess"
              example:
                success: true
                type: user
                count: 3
                data:
                  - name: John Doe
                    email: john@example.com
                    phone: +1-555-0123
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimited"
        default:
          $ref: "#/components/responses/ServiceUnavailable"
  /sample-data/generate-batch:
    post:
      tags:
        - Sample Data
      operationId: sampleDataGenerateBatchPost
      summary: Generate multiple sample datasets
      description: Submit multiple sample-data generation requests in one call.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - requests
              properties:
                requests:
                  type: array
                  maxItems: 10
                  items:
                    type: object
                    required:
                      - type
                    properties:
                      type:
                        type: string
                      count:
                        type: integer
                        minimum: 1
                        maximum: 1000
                        default: 1
                      fields:
                        type: array
                        items:
                          type: string
                      format:
                        type: string
                        enum:
                          - json
                          - csv
                        default: json
            example:
              requests:
                - type: user
                  count: 2
                - type: company
                  count: 3
      responses:
        "200":
          description: Generated data records grouped by request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericSuccess"
              example:
                success: true
                results:
                  - type: user
                    count: 2
                    data:
                      - name: Ada Lovelace
                        email: ada@example.com
                  - type: company
                    count: 1
                    data:
                      - name: Globex
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimited"
        default:
          $ref: "#/components/responses/ServiceUnavailable"
  /sample-data:
    get:
      tags:
        - Sample Data
      operationId: sampleDataGenerateGet
      summary: Generate sample data with query parameters
      description: GET-compatible sample data generation endpoint for scripts and browser testing.
      parameters:
        - name: type
          in: query
          required: true
          description: Schema type to generate, such as user, company, product, or transaction.
          schema:
            type: string
        - name: count
          in: query
          required: false
          description: Number of records to generate.
          schema:
            type: integer
            minimum: 1
            maximum: 10000
            default: 1
        - name: fields
          in: query
          required: false
          description: Comma-separated list of fields to include.
          schema:
            type: string
        - name: format
          in: query
          required: false
          description: Response format.
          schema:
            type: string
            enum:
              - json
              - csv
            default: json
      responses:
        "200":
          description: Generated sample data records
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericSuccess"
              example:
                success: true
                type: user
                count: 3
                data:
                  - name: John Doe
                    email: john@example.com
                    phone: +1-555-0123
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimited"
        default:
          $ref: "#/components/responses/ServiceUnavailable"
  /sample-data/schemas:
    get:
      tags:
        - Sample Data
      operationId: sampleDataSchemas
      summary: List sample data schemas
      description: Returns all available sample-data schema names with default field lists.
      responses:
        "200":
          description: Available sample-data schemas
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericSuccess"
              example:
                success: true
                schemas:
                  - user
                  - company
                  - product
                  - transaction
                  - address
                count: 5
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimited"
        default:
          $ref: "#/components/responses/ServiceUnavailable"
  /ip-intelligence/batch/info:
    get:
      tags:
        - IP Intelligence
      operationId: ipIntelligenceBatchInfo
      summary: Get IP intelligence batch configuration
      description: Returns batch processing limits, example request shape, and response schema details.
      responses:
        "200":
          description: Batch processing configuration
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericSuccess"
              example:
                success: true
                maxBatchSize: 100
                supportedFormats:
                  - ipv4
                  - ipv6
                rateLimit: per-key
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimited"
        default:
          $ref: "#/components/responses/ServiceUnavailable"
  /image-processing/info:
    get:
      tags:
        - Image Processing
      operationId: imageProcessingInfo
      summary: Get image processing service information
      description: Returns supported image operations, formats, and service metadata.
      responses:
        "200":
          description: Image processing service information
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericSuccess"
              example:
                success: true
                operations:
                  - resize
                  - compress
                  - convert
                  - crop
                  - metadata
                maxFileSize: 10MB
                supportedFormats:
                  - jpeg
                  - png
                  - webp
                  - avif
                  - heic
                  - heif
                  - svg
                  - gif
                  - tiff
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimited"
        default:
          $ref: "#/components/responses/ServiceUnavailable"
  /mac-address:
    get:
      tags:
        - MAC Address
      operationId: macAddressLookup
      summary: Resolve MAC address vendor and manufacturer
      description: >
        Lookup vendor by full MAC address, 6-character OUI prefix, or organization name. Provide exactly one of mac,
        prefix, or org.
      parameters:
        - name: mac
          in: query
          required: false
          description: Full MAC address (colon, hyphen, or compact hex)
          schema:
            type: string
            example: "00:11:22:33:44:55"
        - name: prefix
          in: query
          required: false
          description: 6-character hex OUI prefix
          schema:
            type: string
            example: "001122"
        - name: org
          in: query
          required: false
          description: Organization name search (min 2 chars, max 50 results)
          schema:
            type: string
            example: Apple
      responses:
        "200":
          description: Vendor information
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericSuccess"
              example:
                - prefix: 00:1A:2B
                  organization: Cisco Systems
                  registry: MA-L
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/RateLimited"
        default:
          $ref: "#/components/responses/ServiceUnavailable"
  /dns-lookup:
    get:
      tags:
        - DNS Lookup
      operationId: dnsLookup
      summary: Resolve DNS records for domains or reverse PTR for IPs
      description: >
        Forward DNS for A, AAAA, MX, TXT, NS, CNAME, and SOA records. Reverse lookup via ip for PTR. Batch domains by
        repeating the domain parameter. Default record type is A; use ALL for every supported type.
      parameters:
        - name: domain
          in: query
          required: false
          description: Domain to resolve (repeat for batch)
          schema:
            oneOf:
              - type: string
                example: example.com
              - type: array
                items:
                  type: string
        - name: ip
          in: query
          required: false
          description: IP address for reverse PTR lookup
          schema:
            type: string
            example: 8.8.8.8
        - name: type
          in: query
          required: false
          description: DNS record type
          schema:
            type: string
            enum:
              - A
              - AAAA
              - MX
              - TXT
              - NS
              - CNAME
              - SOA
              - PTR
              - ALL
            default: A
      responses:
        "200":
          description: DNS record results
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericSuccess"
              example:
                - domain: example.com
                  records:
                    MX:
                      - exchange: mail.example.com
                        priority: 10
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimited"
        default:
          $ref: "#/components/responses/ServiceUnavailable"
  /domain-lookup:
    post:
      tags:
        - Domain Lookup
      operationId: domainLookupPost
      summary: Enrich domains with TLD metadata and DNS presence flags
      description: >
        Returns TLD category, region, dnsCheck booleans, and WHOIS link metadata. Single domain returns an object; batch
        array (max 50) returns an array. Invalid domains return per-item errors without failing the batch.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - domain
              properties:
                domain:
                  description: Single domain string or array (max 50)
                  oneOf:
                    - type: string
                      example: stripe.com
                    - type: array
                      items:
                        type: string
                      maxItems: 50
            example:
              domain: stripe.com
      responses:
        "200":
          description: Domain enrichment data
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericSuccess"
              example:
                domain: stripe.com
                tld: com
                category: commercial
                region: Global
                dnsCheck:
                  hasA: true
                  hasAAAA: true
                  hasMX: true
                  hasTXT: true
                whois:
                  available: true
                  url: https://datpaq.com/whois?domain=stripe.com
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimited"
        default:
          $ref: "#/components/responses/ServiceUnavailable"
  /mx-lookup:
    get:
      tags:
        - MX Lookup
      operationId: mxLookupGet
      summary: Look up MX records for one or more domains (GET)
      description: |
        Returns priority-sorted MX records with optional IP resolution, SMTP port 25 checks, and SPF parsing.
      parameters:
        - name: domains
          in: query
          required: true
          description: >
            Domains to check. Note the parameter name is plural (`domains`, not `domain`), even for a single domain.
            Accepts one domain or a comma-separated list (max 50).
          schema:
            type: string
            example: gmail.com
        - name: resolveIps
          in: query
          required: false
          schema:
            type: boolean
            default: true
        - name: validateSmtp
          in: query
          required: false
          schema:
            type: boolean
            default: false
        - name: includeSpf
          in: query
          required: false
          schema:
            type: boolean
            default: false
      responses:
        "200":
          description: MX lookup results
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericSuccess"
              example:
                - domain: gmail.com
                  mxRecords:
                    - priority: 5
                      exchange: gmail-smtp-in.l.google.com
                      ipAddresses:
                        - 142.250.102.27
                      smtpOpen: true
                  spf:
                    record: v=spf1 include:_spf.google.com ~all
                    includes:
                      - _spf.google.com
                    mechanism: ~all
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimited"
        default:
          $ref: "#/components/responses/ServiceUnavailable"
    post:
      tags:
        - MX Lookup
      operationId: mxLookupPost
      summary: Look up MX records for one or more domains (POST)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - domains
              properties:
                domains:
                  oneOf:
                    - type: string
                      example: gmail.com
                    - type: array
                      items:
                        type: string
                      maxItems: 50
                resolveIps:
                  type: boolean
                  default: true
                validateSmtp:
                  type: boolean
                  default: false
                includeSpf:
                  type: boolean
                  default: false
            example:
              domains:
                - gmail.com
                - protonmail.com
              resolveIps: true
              validateSmtp: true
              includeSpf: true
      responses:
        "200":
          description: MX lookup results
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericSuccess"
              example:
                success: true
                count: 2
                data:
                  - domain: gmail.com
                    mxRecords:
                      - priority: 5
                        exchange: gmail-smtp-in.l.google.com
                  - domain: protonmail.com
                    mxRecords:
                      - priority: 10
                        exchange: mail.protonmail.ch
                processingTime: 12ms
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimited"
        default:
          $ref: "#/components/responses/ServiceUnavailable"
  /dictionary:
    get:
      tags:
        - Dictionary
      operationId: dictionaryDefineGet
      summary: Look up an English word definition (GET)
      description: |
        Returns phonetic transcription, parts of speech, definitions, and usage examples for a single word.
      parameters:
        - name: word
          in: query
          required: true
          description: English word to define
          schema:
            type: string
            example: example
      responses:
        "200":
          description: Word definition payload
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericSuccess"
              example:
                word: example
                phonetic: IH0 G Z AE1 M P AH0 L
                meanings:
                  - partOfSpeech: noun
                    definition: A representative form or pattern.
                    example: This sentence is an example of correct usage.
                synonyms:
                  - sample
                  - instance
                antonyms: []
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/RateLimited"
        default:
          $ref: "#/components/responses/ServiceUnavailable"
    post:
      tags:
        - Dictionary
      operationId: dictionaryDefinePost
      summary: Look up an English word definition (POST)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - word
              properties:
                word:
                  type: string
                  example: serendipity
            example:
              word: example
      responses:
        "200":
          description: Word definition payload
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericSuccess"
              example:
                word: example
                phonetic: IH0 G Z AE1 M P AH0 L
                meanings:
                  - partOfSpeech: noun
                    definition: A representative form or pattern.
                    example: This sentence is an example of correct usage.
                synonyms:
                  - sample
                  - instance
                antonyms: []
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/RateLimited"
        default:
          $ref: "#/components/responses/ServiceUnavailable"
  /dictionary/batch:
    get:
      tags:
        - Dictionary
      operationId: dictionaryDefineBatchGet
      summary: Look up multiple word definitions (GET)
      parameters:
        - name: words
          in: query
          required: true
          description: Comma-separated list of words
          schema:
            type: string
            example: example,dictionary
      responses:
        "200":
          description: Batch definition results
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericSuccess"
              example:
                results:
                  - word: example
                    meanings:
                      - partOfSpeech: noun
                        definition: A representative form or pattern
                  - word: dictionary
                    meanings:
                      - partOfSpeech: noun
                        definition: A reference book of word meanings
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimited"
        default:
          $ref: "#/components/responses/ServiceUnavailable"
    post:
      tags:
        - Dictionary
      operationId: dictionaryDefineBatchPost
      summary: Look up multiple word definitions (POST)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - word
              properties:
                word:
                  type: array
                  items:
                    type: string
                  maxItems: 50
            example:
              word:
                - example
                - dictionary
      responses:
        "200":
          description: Batch definition results
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericSuccess"
              example:
                results:
                  - word: example
                    meanings:
                      - partOfSpeech: noun
                        definition: A representative form or pattern
                  - word: dictionary
                    meanings:
                      - partOfSpeech: noun
                        definition: A reference book of word meanings
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimited"
        default:
          $ref: "#/components/responses/ServiceUnavailable"
  /dictionary/suggest:
    get:
      tags:
        - Dictionary
      operationId: dictionarySuggest
      summary: Fuzzy word suggestions
      parameters:
        - name: q
          in: query
          required: true
          description: Partial or misspelled query
          schema:
            type: string
            example: exampl
      responses:
        "200":
          description: Suggested word matches
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericSuccess"
              example:
                suggestions:
                  - example
                  - examples
                  - exemplary
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimited"
        default:
          $ref: "#/components/responses/ServiceUnavailable"
  /spell-check:
    get:
      tags:
        - Spell Check
      operationId: spellCheckGet
      summary: Spell-check text (GET)
      parameters:
        - name: text
          in: query
          required: true
          description: Text to check (max 10,000 characters)
          schema:
            type: string
            example: Hello wrold, this is a tets
        - name: language
          in: query
          required: false
          schema:
            type: string
            enum:
              - en
              - es
              - fr
              - de
              - it
            default: en
        - name: suggestions
          in: query
          required: false
          schema:
            type: boolean
            default: true
        - name: includeGrammar
          in: query
          required: false
          schema:
            type: boolean
            default: true
      responses:
        "200":
          description: Spelling and grammar results
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericSuccess"
              example:
                language: en
                issues:
                  - word: wrold
                    suggestions:
                      - world
                  - word: tets
                    suggestions:
                      - tests
                      - test
                suggestions:
                  wrold:
                    - world
                  tets:
                    - tests
                    - test
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimited"
        default:
          $ref: "#/components/responses/ServiceUnavailable"
    post:
      tags:
        - Spell Check
      operationId: spellCheckPost
      summary: Spell-check text (POST)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - text
              properties:
                text:
                  type: string
                language:
                  type: string
                  enum:
                    - en
                    - es
                    - fr
                    - de
                    - it
                  default: en
                suggestions:
                  type: boolean
                  default: true
                includeGrammar:
                  type: boolean
                  default: true
            example:
              text: helo frend
              lang: en
              suggestions: true
      responses:
        "200":
          description: Spelling and grammar results
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericSuccess"
              example:
                language: en
                issues:
                  - word: wrold
                    suggestions:
                      - world
                  - word: tets
                    suggestions:
                      - tests
                      - test
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimited"
        default:
          $ref: "#/components/responses/ServiceUnavailable"
  /spell-check/languages:
    get:
      tags:
        - Spell Check
      operationId: spellCheckLanguages
      summary: List supported spell-check languages
      responses:
        "200":
          description: Supported language list
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericSuccess"
              example:
                languages:
                  - code: en
                    name: English
                  - code: es
                    name: Spanish
                  - code: fr
                    name: French
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimited"
        default:
          $ref: "#/components/responses/ServiceUnavailable"
  /text-language/detect:
    get:
      tags:
        - Text Language
      operationId: textLanguageDetectGet
      summary: Detect language of text (GET)
      parameters:
        - name: text
          in: query
          required: true
          schema:
            type: string
            example: Bonjour, comment allez-vous aujourd'hui?
        - name: top
          in: query
          required: false
          schema:
            type: integer
            default: 1
        - name: format
          in: query
          required: false
          schema:
            type: string
            enum:
              - iso639-3
              - iso639-1
            default: iso639-3
      responses:
        "200":
          description: Detected language candidate(s)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericSuccess"
              example:
                languageCode: fr
                languageName: French
                confidence: 1
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimited"
        default:
          $ref: "#/components/responses/ServiceUnavailable"
    post:
      tags:
        - Text Language
      operationId: textLanguageDetectPost
      summary: Detect language of text (POST)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - text
              properties:
                text:
                  type: string
                top:
                  type: integer
                  default: 1
                format:
                  type: string
                  enum:
                    - iso639-3
                    - iso639-1
                  default: iso639-3
            example:
              text: Ceci est un exemple de texte en franÃ§ais.
              top: 1
              format: 639-1
      responses:
        "200":
          description: Detected language candidate(s)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericSuccess"
              example:
                languageCode: fr
                languageName: French
                confidence: 1
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimited"
        default:
          $ref: "#/components/responses/ServiceUnavailable"
  /text-language/detect/batch:
    post:
      tags:
        - Text Language
      operationId: textLanguageDetectBatch
      summary: Batch language detection
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - items
              properties:
                items:
                  type: array
                  maxItems: 50
                  items:
                    type: object
                    required:
                      - text
                    properties:
                      id:
                        type: string
                      text:
                        type: string
            example:
              items:
                - id: "1"
                  text: Hello world
                - id: "2"
                  text: Hola mundo
      responses:
        "200":
          description: Per-item language detection results
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericSuccess"
              example:
                results:
                  - id: "1"
                    language: eng
                    confidence: 0.99
                  - id: "2"
                    language: spa
                    confidence: 0.98
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimited"
        default:
          $ref: "#/components/responses/ServiceUnavailable"
  /text-language/languages:
    get:
      tags:
        - Text Language
      operationId: textLanguageLanguages
      summary: List supported languages
      responses:
        "200":
          description: Supported language catalog
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericSuccess"
              example:
                languages:
                  - code: eng
                    name: English
                    iso6391: en
                  - code: fra
                    name: French
                    iso6391: fr
                count: 97
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimited"
        default:
          $ref: "#/components/responses/ServiceUnavailable"
  /thesaurus/lookup/{word}:
    get:
      tags:
        - Thesaurus
      operationId: thesaurusLookup
      summary: Full thesaurus lookup for a word
      parameters:
        - name: word
          in: path
          required: true
          schema:
            type: string
            example: happy
      responses:
        "200":
          description: Synonyms, antonyms, and related terms
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericSuccess"
              example:
                query:
                  term: fast
                  relation: synonym
                  limit: 5
                results:
                  - term: quick
                    pos: adj
                  - term: rapid
                    pos: adj
                page:
                  limit: 5
                  offset: 0
                  total_estimate: 4
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/RateLimited"
        default:
          $ref: "#/components/responses/ServiceUnavailable"
  /thesaurus/synonyms/{word}:
    get:
      tags:
        - Thesaurus
      operationId: thesaurusSynonyms
      summary: Synonyms for a word
      parameters:
        - name: word
          in: path
          required: true
          schema:
            type: string
            example: happy
      responses:
        "200":
          description: Synonym list
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericSuccess"
              example:
                word: happy
                synonyms:
                  - joyful
                  - cheerful
                  - content
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/RateLimited"
        default:
          $ref: "#/components/responses/ServiceUnavailable"
  /thesaurus/antonyms/{word}:
    get:
      tags:
        - Thesaurus
      operationId: thesaurusAntonyms
      summary: Antonyms for a word
      parameters:
        - name: word
          in: path
          required: true
          schema:
            type: string
            example: happy
      responses:
        "200":
          description: Antonym list
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericSuccess"
              example:
                word: happy
                antonyms:
                  - sad
                  - unhappy
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/RateLimited"
        default:
          $ref: "#/components/responses/ServiceUnavailable"
  /thesaurus/related/{word}:
    get:
      tags:
        - Thesaurus
      operationId: thesaurusRelated
      summary: Related terms for a word
      parameters:
        - name: word
          in: path
          required: true
          schema:
            type: string
            example: happy
      responses:
        "200":
          description: Related-term list
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericSuccess"
              example:
                word: happy
                related:
                  - smile
                  - joy
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/RateLimited"
        default:
          $ref: "#/components/responses/ServiceUnavailable"
  /thesaurus/search:
    get:
      tags:
        - Thesaurus
      operationId: thesaurusSearch
      summary: Substring search across thesaurus vocabulary
      parameters:
        - name: q
          in: query
          required: true
          schema:
            type: string
            example: happ
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 50
            default: 10
      responses:
        "200":
          description: Matching words
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericSuccess"
              example:
                query: happ
                results:
                  - happy
                  - happen
                  - happiness
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimited"
        default:
          $ref: "#/components/responses/ServiceUnavailable"
  /thesaurus/batch:
    get:
      tags:
        - Thesaurus
      operationId: thesaurusBatchGet
      summary: Batch thesaurus lookup (GET)
      parameters:
        - name: words
          in: query
          required: true
          description: Comma-separated words (max 100)
          schema:
            type: string
            example: happy,sad,fast
      responses:
        "200":
          description: Batch thesaurus results
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericSuccess"
              example:
                results:
                  - word: happy
                    data:
                      synonyms:
                        - joyful
                  - word: sad
                    data:
                      synonyms:
                        - unhappy
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimited"
        default:
          $ref: "#/components/responses/ServiceUnavailable"
    post:
      tags:
        - Thesaurus
      operationId: thesaurusBatchPost
      summary: Batch thesaurus lookup (POST)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - words
              properties:
                words:
                  type: array
                  items:
                    type: string
                  maxItems: 100
            example:
              words:
                - happy
                - sad
                - fast
      responses:
        "200":
          description: Batch thesaurus results
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericSuccess"
              example:
                results:
                  - word: happy
                    data:
                      synonyms:
                        - joyful
                  - word: sad
                    data:
                      synonyms:
                        - unhappy
                  - word: fast
                    data:
                      synonyms:
                        - quick
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimited"
        default:
          $ref: "#/components/responses/ServiceUnavailable"
  /web-scraping/scrape:
    post:
      tags:
        - Web Scraping
      operationId: webScrapingScrape
      summary: Synchronously scrape a public URL
      description: >
        Returns page content in the requested formats. SSRF-guarded. Default format is markdown with Readability
        main-content extraction enabled.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - url
              properties:
                url:
                  type: string
                  format: uri
                  example: https://example.com/article
                formats:
                  type: array
                  items:
                    type: string
                    enum:
                      - markdown
                      - html
                      - rawHtml
                      - links
                      - images
                      - screenshot
                  default:
                    - markdown
                onlyMainContent:
                  type: boolean
                  default: true
                waitUntil:
                  type: string
                  enum:
                    - load
                    - domcontentloaded
                    - networkidle0
                    - networkidle2
                  default: domcontentloaded
                waitFor:
                  type: integer
[...]
